<!-- HTML -->
	
	<!-- The following is the javascript portion which sets up the Google maps API with our own API key. -->
	<script type="text/javascript"
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCFUbQCK-4qpiVcMhHesD6QwYmVbWecvOA&sensor=false">
	</script> <!-- From the Google Maps API code sample -->

	<script type="text/javascript">
		function initialize() {
			var myLatlng = new google.maps.LatLng(<%= @my_address[0] %>, <%= @my_address[1] %>);

			var mapOptions = {
				center: new google.maps.LatLng(<%= @my_address[0] %>, <%= @my_address[1] %>),
				zoom: 15,
				mapTypeId: google.maps.MapTypeId.ROADMAP
			};
		
			var map = new google.maps.Map(document.getElementById("map_canvas"),
				mapOptions);

			var marker = new google.maps.Marker({
      			position: myLatlng,
      			map: map,
      			title:"My address!"
  			});

  			var transitLayer = new google.maps.TransitLayer();
				transitLayer.setMap(map);

  			
  			
  				<% @near_busses.each do |bus| %>
  					var bus_latlong = new google.maps.LatLng(<%= bus.fetch("lat") %>, <%= bus.fetch("lon") %>);
  					var bus_marker = new google.maps.Marker({
      					position: bus_latlong,
      					map: map,
      					title: "<%= bus.fetch("routeTag") %>"
  					});
				
				<% end %>

		}
	</script>

	<!-- back to HTML -->

	<body onload="initialize()">
		<div id="map_canvas" style="width:75%; height:75%"></div> <!-- the map_canvas is the div id we give to the map --> 
	</body>

